@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

body
{
   
    font-family: 'Roboto Mono', monospace;
   
}

h1{
    text-align: center;
    font-size: 60px;
}

.wrapper p{
    font-size: 20px;
    color: whitesmoke;
}
#ughh
{
    font-size: 20px;
    text-align: center;
}

.cards:hover{
        box-shadow: 0 10px 20px rgba(0,0,0,.20), 0 4px 8px rgba(0,0,0,.6);;
}

.cards
{
    
    width: 350px;
    height: 400px;
    background-color: #9898d3;
    margin: 20px;
    padding:30px;
    border-radius: 30px;
    font-size: 40px;
}
.wrapper {

    display: flex;
    justify-content: center;
    background-color: transparent;
    position: relative;
    left: 1vw;

}
